body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3ddf2;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #0077b6;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #a6c8e2;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

form {
    width: 100%;
}

.form_element {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="button"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0077b6;
}

input[type="submit"], input[type="button"] {
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #005f8b;
}

.checkbox_label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.forgot_password {
    color: #0077b6;
    font-size: 0.9rem;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.forgot_password:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem;
    }

    form {
        width: 100%;
    }

    .form_element input[type="submit"],
    .form_element input[type="button"] {
        padding: 12px;
    }
}
