.admin-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-links a {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.admin-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.admin-links .fa {
    margin-right: 8px;
    font-size: 18px; /* Adjust icon size */
}

.link-left {
    justify-content: flex-start;
}

.link-center {
    justify-content: center;
}

.link-right {
    justify-content: flex-end;
}
